.my-masonry-grid {
    display: -webkit-box; /* Not needed if using Tailwind */
    display: -ms-flexbox;
    display: flex;
    margin-left: -16px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 16px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style individual items */
  .my-masonry-grid_column > div {
    margin-bottom: 16px;
  }

  .hcapture{transform-origin:left top;transform:scale(0.9);}